@{
	ViewBag.Title = "Book Listing Page";
}
@model List<BookListing.Models.Book>

<div class="jumbotron">
	<h1>Book Listing</h1>
	<br />
	<br />

	<label>
		Search by Title
	</label>
	<input type="text" id="searchText" name="searchText" style="width: 325px" />
	<input type="button" id="searchButton" value="Search" />
	<br />
	<br />

	@if (Model.Any())
	{
		<table id="content" class="table-bordered">
			<tr>
				<th style="padding-left: 20px">Author</th>
				<th style="padding-left: 20px">Title</th>
			</tr>
			@foreach (var book in Model)
			{
				<tr class="row-content">
					<td style="padding-left: 20px">
						@Html.Label(book.Author)
					</td>
					<td style="padding-left: 20px">
						@Html.Label(book.Title)
					</td>
				</tr>
			}
		</table>
	}
	<div id="error">
		No results found.
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$('#error').hide();
		$("#searchButton").click(function () {
			$('.row-content').remove();
			$.ajax({
				type: 'POST',
				datatype: "json",
				url: '../Book/Search',
				data: { title: $("#searchText").val() },
				success: function (outData) {
					$.each(outData, function (key, val) {
						var tr = $('<tr class="row-content"></tr>');
						$.each(val, function (k, v) {
							$('<td style="padding-left: 20px">' + v + '</td>').appendTo(tr);
						});
						$('#content tbody').append(tr);
					});
				},
				error: function () {
					$('#content').hide();
					$('#error').show();
				}
			});
		}
		);
	});
</script>